{% extends "base.html" %}

{% block content %}
<html>
  <style type="text/css">
    .bod{
      margin: 20px;
    }
  </style>
  <div class="bod">
    <div class="jumbotron">
      <img src="/static/sarah-black-wide.jpg" class="img-fluid" alt="sarah">
      <h1 class="display-3">Sarah Black</h1>
      <p class="lead">I'm a technical Project Manager living in Queens, just trying to get through life one Oreo at a time.</p>
      <hr class="my-4">
      <p>Yes, I stole the Nike Skateboard logo for my logo. For more of that kind of ingenuity, check out some of my posts!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/posts" role="button">Posts</a>
      </p>
    </div>
  </div>
</html>
{% endblock %}